[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pre-commit = "*"

[packages]
rasterio = {extras = ["s3"], version="1.1.8"}
pillow = "8.0.1"

[requires]
python_version = "3.8"
